html {
    font: 62.5%;
    font-family: 'Poppins', sans-serif ;
    font-weight: 400;
    box-sizing: border-box;
    color: white;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
}
#wrapper {
    max-width: 144rem;
    padding: 1rem 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size:cover;

    display: flex;  
    flex-direction: column;
    align-items: center;
}
header{
    position:absolute;
}
form {
    position:relative;
    
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
input {
    max-width:80vw;
    min-width:25vw;
    font-family:'Poppins', sans-serif ;
    border: 0.1rem solid rgb(255, 255, 255);
    border-radius: 0.5rem;
    outline: rgba(0, 0, 0, 0.2) solid 0.25rem;

    font-size: 1.2rem;
    background: linear-gradient(-45deg, rgba(209, 255, 205, 0.6)25%,  rgba(255, 255, 255, 0.5)80%);
    background-size: 400% 400%;

    padding: 0.1rem;
    padding-left: 0.2rem;
    transition: background-color 1s, border-color 2s, transform 2s;
}
@keyframes puls {
    0% {
        border-color: rgba(216, 216, 216, 0.8);
		background-position: 0% 50%;
    }

    50% {
        border-color: rgba(120, 255, 120, 0.8);
		background-position: 100% 50%;
    }
    100% {
        border-color: rgba(216, 216, 216, 0.8);
		background-position: 0% 50%;
    }
}
input:focus {
    outline: rgba(0, 0, 0, 0.2) solid 0.25rem;
    animation: puls 5s ease-in-out infinite;
    transition: background-color 1s, border-color 2s, background-position 1s, transform 2s;
}
input:hover {
    outline: rgba(0, 0, 0, 0.2) solid 0.25rem;
    border-color: rgba(120, 255, 120, 0.6);
    background-color: rgba(255, 255, 255, 0.4);
    animation: puls 5s ease-in-out infinite;
    transition: background-color 1s, border-color 1s,transform 1s, ;
}

.sugestion{
    color: black;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.1rem 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    align-self: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    margin-top: 14rem;
}
article{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(15,20,10,0.6) 70%, rgba(5,5,0,0.7) 90% 100%);
    padding: 4vw; /* 100% + padding = ponad 100%!!! */
    border-radius: 0.2rem;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight:400;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
@media screen and (max-width: 600px) {
    h1 {
      font-size: 2.5rem;
    }
  }

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, rgba(15,20,10,0.6) 15%, rgba(5,5,0,0.7) 90% 100%);0
}
.gallery a{
    display: flex;

}

.cover {
    z-index: 10;
    position: absolute;
    width: 100%; height: 100%;
}

.thumbWrapperWrapper {
    position: relative;
    z-index: 5;
}

.thumbWrapper {
    position: relative;
}

.thumb {
    background-color: red;
    max-width: 100vw;
    opacity: 0.9;
    transition: saturate 0.5s;
    -webkit-transition: 0.5s -webkit-filter linear;
    -moz-transition: 0.5s -moz-filter linear;
    -moz-transition: 0.5s filter linear;
    -ms-transition: 0.5s -ms-filter linear;
    -o-transition: 0.5s -o-filter linear;
    transition: 0.5s filter linear, 0.5s -webkit-filter linear, opacity 1s;
}
.thumb:hover {
    opacity: 1;
    filter: saturate(1.2);
    -webkit-transition: 1s -webkit-filter linear;
    -moz-transition: 1s -moz-filter linear;
    -moz-transition: 1s filter linear;
    -ms-transition: 1s -ms-filter linear;
    -o-transition: 1s -o-filter linear;
    transition: 1s filter linear, 1s -webkit-filter linear, opacity 1s;
}

.thumbTitel {
    z-index: 5;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display:flex; flex-direction: column;
    justify-content: center; align-items: center;
}
.thumbTitel > p {
    opacity: 0%;
    width: 80%;
    align-self: center;
    justify-self: center;
    color: whitesmoke;
    font-size: 2.2rem;
    text-align: center;
    text-shadow: black 1px 0 10px;
    transition: 1s all linear;

}
.cover:hover + .thumbWrapper > .thumbTitel > p {
    opacity: 100%;
    transition: 0.8s all linear;
}
.cover:hover + .thumbWrapper > img{
    opacity: 60%;
    transition: 0.8s all linear;
} 


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    margin: 2rem 0;
}
footer p {
    margin: 0;
}